.menu-icone {
    cursor: pointer;
    position: relative;
 
    width: 54px;
    height: 54px;
   transition: transfome 0.5s;
    /* background-color: gray; */
    
}
.menu-icone spane {
position: absolute;
z-index: 2;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%); 

display: block;
width: 20px;
height: 2px;

background-color: red;

transition: background 0.5s transform 0.5s;
}
.menu-icone spane::before, .menu-icone spane::after {
content: '';
position: absolute;
top: 0;
left: 0;
transform: translateY(-6px);

display: block;
width: 22px;
height: 2px;

background-color: red;

transition: transform 0.5s;
}
.menu-icone spane::after{
    transform: translateY(6px);
}

.menu-icone:hover spane::before {
transform: translateY(-8px);
}
.menu-icone:hover spane::after{
transform: translateY(8px);
}
.menu-icone.is-open spane{
background: transparent;
}
.menu-icone.is-open spane { background: transparent; }
.menu-icone.is-open spane::before { transform: translateY(0) rotate(45deg); }
.menu-icone.is-open spane::after { transform: translateY(0) rotate(-45deg); }
.menu-icone.is-open{
    /* transform: rotate(180deg); */
}
.menu-icone spane::before,.menu-icone spane::after{
    transform-origin: 50% 50%;
}
.menu-icone.is-open {
   
    transition: transform 1s;
}


/* .menu-icone svg {
position: relative;
z-index: 1;
fill: green;
stroke-width: 3px;
stroke: #FFF;
stroke-dasharray: 170;
stroke-dashoffset: 170;
transition: stroke-dashoffset 0.5s;
} */

.menu-icone.is-open svg{
/* transform: rotate(-180deg); */
stroke-dashoffset: 0; 

}
.menu-icone-svg spane{
background: transparent;
}
.menu-icone-svg svg{  
fill: transparent;
stroke-width: 2px;
stroke: red;
stroke-dasharray: 22 230;
transition: 1s;
}
.menu-icone-svg.is-open svg{
stroke-dashoffset: -50;
stroke-dasharray: 185;
}
.menu-icone-svg.is-open spane{
background: transparent;
}
