html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --fond:#222222;
  --menu-text:#222222;
  --menu-hover:#B6393F;
  --titre-text: #fff;
  --titre-h1:#F6CF68;
  --font-titre:'Raleway', sans-serif;
  --font-text:'Roboto', sans-serif;
}

body, html {
  margin: 0 auto;
  font-family: var(--font-titre);
  background: #222222;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

.page1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(/img/fondor.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titre-header {
  padding-top: 5%;
  font-size: 4vw;
  color: var(--menu-text);
}

.sous_titre {
  font-size: 2vw;
  margin-left: 60%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
  z-index: 900;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}

.menu ul li {
  display: inline-block;
}

.menu a {
  margin: 20px;
  text-decoration: none;
  color: var(--menu-text);
  font-size: 1.2rem;
}

.menu a:hover {
  border-bottom: 1px solid #B6393F;
  color: var(--menu-hover);
}

.menutop {
  position: fixed;
  left: auto;
  background: #F6CF68;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: menushow;
          animation-name: menushow;
}

.menu2 {
  display: none;
  width: 50%;
  font-size: 2rem;
}

@-webkit-keyframes menushow {
  from {
    margin-top: -99px;
  }
  to {
    margin-top: 0;
  }
}

@keyframes menushow {
  from {
    margin-top: -99px;
  }
  to {
    margin-top: 0;
  }
}

.titre {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 5%;
  color: var(--menu-hover);
}

.compt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.compt .colon:hover {
  border: 1px solid #B6393F;
}

.colon {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  min-width: calc(90% / 3);
  width: calc((800px - 100%) * 1000);
  max-width: 100%;
  padding: 2%;
  line-height: 1.8rem;
  border-radius: 5%;
}

.colon .fa {
  color: var(--titre-h1);
  width: 100%;
  text-align: center;
}

.colon h2 {
  font-size: 1.4rem;
}

.colon p {
  text-align: center;
}

.completences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15%;
  color: var(--titre-text);
  width: 100%;
}

.titrecolon {
  font-size: 1.5rem;
  line-height: 5rem;
  margin-bottom: 20px;
  color: var(--menu-hover);
  text-align: center;
}

.about .fa {
  color: blue;
}

.moitier {
  width: 60%;
}

p {
  color: #fff;
}
/*# sourceMappingURL=style2.css.map */